@import "../../base/index.scss";



.filter {
    display: flex;
    justify-content: space-between;
    padding: $mn/4;

    select {
        display: block;
        height: $mn/2;
        @include FontNormal;
        width: 24%;
        border-radius: 5px;
        color: $ColorRock;
    }


}

