@import '../../base/index.scss';

.filter {
     display: flex;
     justify-content: space-between;
     padding: $mn/1.5 0 $mn/10 0;

     select {
          display: block;
          height: $mn/2;
          @include FontNormal;
          width: 24%;
          border-radius: 5px;
          color: $ColorRock;
     }
}
.blobs {
     display: flex;

     .blobButton {
          display: flex;
          flex-direction: row;
          border: none;
          border-radius: 50px;
          background: lightcoral;
          padding: $mn/6 $mn/2;
          margin: $mn/10 $mn/8 0 0;
     }
}
