@import '../../base/index.scss';

.header {
     box-shadow: 0 0 10px #0004;
     display: flex;
     z-index: 100000;
     width: 100%;
     padding: $mn/4 $mn/6;
     min-height: $mn * 1.2;
     align-items: center;
     flex-wrap: wrap;
     .LogInButton {
          margin-left: auto;
     }
     h1,
     button {
          @include FontNormal;
          margin: 0px $mn/3;
     }
     button {
          padding: $mn/10 $mn/3;
          border: 0;
          border-radius: 5px;
          background-color: #eaf5fb;
          color: #009ede;
          @include FontNormal;
     }

     img {
          height: calc(30px + 2vw);
          margin-left: $mn/3;
     }
}
