@import '../../base/index.scss';

.container {
     display: flex;
     margin: $mn/3 0;
     position: relative;
     top: 0;
     .switch {
          position: relative;
          display: inline-block;
          width: 30 * 1.5px;
          height: 17 * 1.5px;
          input {
               opacity: 0;
               width: 0;
               height: 0;
          }
          .slider {
               position: absolute;
               cursor: pointer;
               top: 0;
               left: 0;
               right: 0;
               bottom: 0;
               border-radius: 17px;
               background-color: #2196f3;

               -webkit-transition: 0.4s;
               transition: 0.4s;
               &::before {
                    position: absolute;
                    content: '';
                    height: 13 * 1.5px;
                    width: 13 * 1.5px;
                    right: 2 * 1.5px;
                    bottom: 2 * 1.5px;
                    background-color: white;
                    -webkit-transition: 0.4s;
                    transition: 0.4s;
                    border-radius: 50%;
               }
          }
          input:checked + .slider {
               background-color: #ccc;
          }
          input:focus + .slider {
               box-shadow: 0 0 1px #2196f3;
          }
          input:checked + .slider:before {
               -webkit-transform: translateX(26px);
               -ms-transform: translateX(26px);
               transform: translateX(-19px);
          }
     }
     h5 {
          align-items: center;
          margin: auto 10px;
          @include FontNormal;
     }
}
